# Compiled Sources
###################
*.o
*.map
*.hex
*.dis
*.exe
*.xsa

# Packages 
############

# Windows Thumbnail
######################
Thumbs.db
thumbs.db

# Logs and Databases
######################
*.log

# Python bytecode cache
######################
__pycache__/
*.pyc

# VIM Swap Files
######################
*.swp

# VIM Swap Files
######################
*.pptx

# Ignore ./base.base
######################
**/base/base/

# Ignore the minimal BSP design Vivado project + board files
######################
**/bsp/bsp/
**/bsp/board_files/

# Vivado Files
*.jou
*.str
*.xsa
*.bit
*.hwh